body {
    display: grid;
    grid-template-columns: 250px 1fr;
}

aside {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: blue;
}
header>a>img {
    width: 36px;
}

nav {
    background-color: aquamarine;
    flex-grow: 1;
}

main {
    background-color: red;
}