@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-sidebar-main: #1E6262;
    --color-sidebar-secondary: #2F7E7C;
    --color-accent: #4FBDBA;
    --color-main-bg: #F0F7F4;
    --color-text: #1B1C1E;
    --color-button: #2A7A78;
    --color-button-hover: #1E6262;

    --headers-sizes: 56px;
}

* {
    font-family: "Varela Round", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 280px 1fr;
}

aside {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-sidebar-main);
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--headers-sizes);
    gap: 8px;
}
header>a>img {
    width: 36px;
}
header>h1 {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

nav {
    background-color: var(--color-sidebar-secondary);
    flex-grow: 1;
}
button.opt {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-button);

    font-size: 14px;
    font-weight: 600;
    color: var(--color-text);
    padding: 10px;
    gap: 8px;
}
button.opt:hover{
    background-color: var(--color-button-hover);
}
.icon_option {
    width: 32px;
}
button span {
    line-height: auto;
}
button img.arrow-short {
    width: 22px;
    margin-left: auto;
}

.hidden {
    display: none;
}

main {
    background-color: var(--color-main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.area_name {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--headers-sizes);
}

#content_display_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
#content_display_main p {
    max-width: 400px;
}


main section img.logo {
    width: 30%;
    filter: brightness(0) saturate(100%) invert(84%) sepia(34%) saturate(555%) hue-rotate(79deg) brightness(93%) contrast(93%);
}

